<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SelfPlacingWindow.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="BackGroundColor.R" value="64"/>
    <add key="BackGroundColor.G" value="128"/>
    <add key="BackGroundColor.B" value="128"/>
	<add key="ForegroundColor.R" value="64"/>
	<add key="ForegroundColor.G" value="128"/>
	<add key="ForegroundColor.B" value="128"/>
  </appSettings>
  <userSettings>
    <SelfPlacingWindow.Settings1>
      <setting name="Prop1" serializeAs="String">
        <value>Hello</value>
      </setting>
    </SelfPlacingWindow.Settings1>
  </userSettings>
</configuration>